/log/
/public/pic/
api.js
*.lnk
*.log
*.project
/node_modules
*.webp
!.gitkeep
/.vscode
/v1.0/ser/shouTemp.txt
/lib/config.wx.js
/log/log.log.1
/log/log.log.2
/log/log.log.3
/router/wxapp/lib/config.wx.js