/v1.0/ser/conn.php
/v1.0/ser/xszcconn.php
/server/log/
/server/public/pic/
api.js
*.lnk
*.log
*.project
/node_modules
*.webp
!.gitkeep
/.vscode
/v1.0/ser/shouTemp.txt
/server/lib/config.wx.js
/server/log/log.log.1
/server/log/log.log.2
/server/log/log.log.3