* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: "微软雅黑";
}

.attention {
	z-index: 99;
	width: 100%;
	height: 1080px;
	background-color: rgb(96, 125, 139);
	text-align: center;
	padding-top: 150px;
	font-size: 2em;
	color: rgb(199, 205, 208);
	position: fixed;
}
    
    
.loading {
	height: 2px;
	background-color: #8aacbd;
	animation: jiazai 15s;
	width: 10%;
	display: inherit;
}
.loadingBack{
	height: 2px;
	background-color: rgb(96,125,139);
	display: block;
}
@keyframes jiazai {
	from {
		width: 5%;
	}
	to {
		width: 100%;
	}
}

@-webkit-keyframes jiazai {
	from {
		width: 5%;
	}
	to {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0px auto 0px auto;
	}
	.attention {
		display: none;
	}
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
	.container {
		width: 100%;
		margin: 0px;
	}
	.attention {
		display: none;
	}
}

@media only screen and(max-width: 400px) {
	.attention {
		display: block;
	}
}

.hearder {
	width: 100%;
	height: 50px;
	background-color: rgb(69, 90, 100);
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	color: rgb(199, 205, 208);
}

.topBar {
	width: 100%;
	height: 200px;
	background-color: rgb(96, 125, 139);
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-align-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
}

.topBarLeft {
	flex-grow: 2;
	-webkit-flex-flow: 2;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
	-webkit-align-items: center;-webkit-box-align: center;
	color: rgb(199, 205, 208);
}

.topBarRight {
	color: rgb(199, 205, 208);
	flex-grow: 1;
	-webkit-grid-row: 1;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-left: 35px;
	margin-right: 15px;
}

.topBarLeftFirst {
	flex-flow: 1;
	-webkit-flex-grow: 1;
}

.photoborder {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid rgb(199, 205, 208);
	margin-left: 15px;
}

.topBarLeftSecond {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.topBarLeftThird {
	flex-grow: 0;
	-webkit-flex-grow: 0;
}

.topBarRightFirst,
.topBarRightThird,
.topBarRightSecond {
	height: 40px;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;-webkit-box-align: center;
}

.content {
	width: 100%;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-content: center;
}

.content div {
	width: 33%;
	height: 150px;
	border-color: gainsboro;
	border-style: solid;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-content: center;
}

.content div:nth-child(1) {
	border-width: 0px 1px 1px 0px;
}

.content div:nth-child(2) {
	border-width: 0px 0px 1px 0px;
}

.content div:nth-child(3) {
	border-width: 0px 0px 1px 1px;
}

.content div:nth-child(4) {
	border-width: 0px 1px 1px 0px;
}

.content div:nth-child(5) {
	border-width: 0px 0px 1px 0px;
}

.content div:nth-child(6) {
	border-width: 0px 0px 1px 1px;
}

.content div:nth-child(7) {
	border-width: 0px 1px 1px 0px;
}

.content div:nth-child(8) {
	border-width: 0px 0px 1px 0px;
}

.content div:nth-child(9) {
	border-width: 0px 0px 1px 1px;
}

.content div:last-child {
	flex-grow: 3;
	-webkit-flex-grow: 3;
}